<script src="index.js" type="module" async></script>
<link rel="stylesheet" href="index.css" async />

<main>
  <section id="search">
    <h1>Kanji</h1>
    <input class="kanji" type="text" placeholder="kanji" />
    <button id="kanji">search</button>

    <h1>JP-EN</h1>
    <input class="jpen" type="text" placeholder="term" />
    <button id="jpen">search</button>

    <h1>Giongo⧸gitaigo</h1>
    <input class="giongo" type="text" placeholder="term" />
    <button id="giongo">search</button>

    <div class="info">
      <p>
        Searching supports the <code>*</code> wildcard at the start and end of
        words. "*term" will find all words that end in "term", and "term*" will
        find all words that start with "term".
      </p>
      <p>
        Note that blue text is a link. There is no visual underlying, so as not
        to interfere with things like kanji strokes.
      </p>
    </div>
  </section>

  <section>
    <h1 id="resultCount">Results</h1>
    <hr />

    <div id="filters">
      <span>
        <input type="checkbox" id="romaji" checked />
        <style type="inactive">
          rt {
            display: none;
          }
        </style>
        <label for="romaji">romanise</label>
      </span>
      <!--
      <label for="sorting">sort on:</label><select id="sorting">
        <option name="kana" value="kana">kana</option>
        <option name="kanji" value="kanji">kanji</option>
        <option name="relevance (en)" value="relevance (en)">relevance (en)</option>
        <option name="nothing" value="nothing">nothing</option>
      </select>
      <label for="ascdesc">sort order:</label><select id="ascdesc">
        <option name="asc" value="asc">ascending</option>
        <option name="desc" value="desc">descending</option>
      </select>
      -->
      <!--
      <label for="postype">show:</label><select id="postype" onchange="setPosType(this)">
        <option value="all">all words</option>
        <option value="v">├ verbs</option>
        <option value="vu">├ ├ う-verbs</option>
        <option value="vru">├ └ る-verbs</option>
        <option value="n">├ nouns</option>
        <option value="adj">├ adjectives</option>
        <option value="i-adj">├ ├ い-adjectives</option>
        <option value="na-adj"> ├ └ な-adjectives</option>
        <option value="adv">├ adverbs</option>
        <option value="exp">└ expressions</option>
      </select>
      -->
    </div>

    <div id="results">...</div>
  </section>
</main>

<footer>
  Kanji information is retrieved from
  <a href="https://www.edrdg.org">EDRDG's</a>
  <a href="https://www.edrdg.org/wiki/index.php/KANJIDIC_Project"
    >Kanjidic2.xml</a
  >. JP-EN information is retrieved from
  <a href="https://www.edrdg.org">EDRDG's</a>
  <a href="https://www.edrdg.org/wiki/index.php/JMdict-EDICT_Dictionary_Project"
    >JMdict_e.xml</a
  >. Both data sources are used in accordance with
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-AT-SA 4.0</a> as
  outlined by
  <a href="https://www.edrdg.org/edrdg/licence.html">EDRDG's license</a>.
</footer>
