:root {
  --footer: 3em;
}

html,
body,
main {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 20em auto;
  grid-template-areas: "search results";
  height: calc(100% - var(--footer));
}

section {
  grid-area: search;
  padding-left: 1em;
}

section + section {
  grid-area: results;
  padding-left: unset;
  overflow-y: scroll;
}

.suffix {
  opacity: 0.5;
  color: darkblue;
}

.kanji-entry img {
  max-width: 100%;
  min-height: 4em;
}
.kanji-entry img[alt]:after {
  display: block;
  position: relative;
  background-color: #fff;
  font-size: 8em;
  content: attr(alt);
  top: -0.25em;
  margin-bottom: -0.4em;
  padding-top: 0.2em;
}

footer {
  position: fixed;
  bottom: 0;
  height: var(--footer);
  background: white;
  border-top: 1px solid grey;
  width: 100%;
  padding-top: 5px;
  box-sizing: border-box;
}

section + section h1 {
  width: 100%;
  text-align: center;
}

#results h1 {
  margin: auto;
  border-bottom: 1px dotted black;
}

#filters {
  background: #f0f0f0;
  padding: 1em 0.25em;
}

ruby rt {
  font-size: 0.8em;
  padding-bottom: 0.4em;
  font-family: Arial;
  color: rgba(0, 0, 200, 0.8);
}

ruby a:hover + rt {
  color: red;
}

a,
a:visited {
  color: rgb(0, 0, 200);
}

a:hover {
  color: red;
}

.jpen-entry + .jpen-entry {
  border-top: 1px solid rgba(0, 0, 200, 0.2);
  padding-top: 1em;
}
.jpen-entry {
  margin: 0.25em 0;
  padding: 0.25em;
}

.jpen-entry p:first-of-type {
  margin-top: 0.1em;
}
.jpen-entry p:empty {
  margin: 0;
}
.jpen-entry p:empty + p {
  margin-top: 0.1em;
}

#results ul {
  list-style: none;
  counter-reset: mcount;
}

#results ul li {
  counter-increment: mcount;
}

#results ul li:before {
  content: counter(mcount);
  display: inline-block;
  border-radius: 40%;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 1.25em;
  height: 1em;
  text-align: center;
  margin-right: 0.35em;
}


.info {
  margin-top: 2em;
  background: rgb(0,0,200,0.05);
  padding: 1em;
  width: 80%;
}

a {
  text-decoration: none;
}